

<!-- Since Tailwind is compiled on the server project, components in different project like the client won't generate 
the needed CSS output. As a workaround, include all the styles in this Razor component so they 
are compiled and available for the client components. -->

<!-- Counter.razor -->
<h1 class="text-3xl font-semibold mb-4">Counter</h1>
<p role="status" class="text-lg mb-4">Current count</p>
<button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-hidden focus:ring focus:ring-blue-400">Click me</button>



